; document.cfg

type = 'document'
status = 'published'
docfld = 'c_document'
orderby = 'c_reference'
dirn = 'SORT_ASC' ; initial sort by reference
loadingmsg = 'Loading Document widget'
category = ''
search = ''
appcall = 'documents'