/* --- Colors --- */

body {
 	background:#223;
}
.box, .section {
 	background:#446;
}
.stripe ul li {
  background:#000;
}
.stripe ul li .head, #panel {
  background:#669;
}
#screen, #panel, .currentTextHolder,.section a,.qtip-content, li .content a {
  color:#fff;
}
#detail,.currentTextHolder {
  color:#000;
}
#detail .msgtitle .title,#detail .text a {
  color:#669;
}
.stripe ul li .new {
 	background:#ffc;
}
.stripe ul li:hover .head {
 	background:#ccf;
 	color:#000;
}
.stripe ul li:hover .content,
.stripe ul li:hover .content a{
  background:#fff;
  color:#000;
}

/* --- Fonts --- */

* {
	font-family: Calibri, Arial, Helvetica, sans-serif;
}
#detail .msgtitle .title {
  font-size:2em;
  font-style:italic;
  font-weight:bold;
}
#detail .text {
  font-size:1.45em;
}
#detail .text a {
  text-decoration:none;
}
.currentTextHolder {
 	font-size:1.2em;
}
.section a,.qtip-content {
 	font-size:1.2em;
 	font-weight:bold;
}
.stripe ul li .text, .modal {
  font-size:1.45em;
}
.stripe ul li .title {
  font-style:italic;
  font-weight:bold;
}

/* --- Search and Form --- */

#panel input {
  border-color:#99c;
}