/* --- Colors --- */

body {
 	background:#222;
}
.box, .section {
 	background:#444;
}
.stripe ul li {
  background:#000;
}
.stripe ul li .head, #panel {
  background:#666;
  background:-moz-linear-gradient(top, #777, #555);
  background:-webkit-gradient(linear, left top, left bottom, from(#777), to(#555));
}
#screen, #panel, .currentTextHolder,.section a,.qtip-content, li .content a {
  color:#fff;
}
#detail,.currentTextHolder {
  color:#000;
}
#detail .msgtitle .title,#detail .text a {
  color:#666;
}
.stripe ul li .new {
  background:#eee;
}
.stripe ul li:hover .head {
  background:#eee;
  color:#000;
}
.stripe ul li.facebook .content {
  background:#369;
  background:-moz-linear-gradient(top, #47a, #258);
  background:-webkit-gradient(linear, left top, left bottom, from(#47a), to(#258));
  color:#fff;
}
.stripe ul li.email .content {
  background:#900;
  background:-moz-linear-gradient(top, #a00, #800);
  background:-webkit-gradient(linear, left top, left bottom, from(#a00), to(#800));
  color:#fff;
}
.stripe ul li:hover .content,
.stripe ul li:hover .content a {
  background:#fff;
  color:#000;
}

/* --- Fonts --- */

* {
	font-family: Calibri, Arial, Helvetica, sans-serif;
}
#detail .msgtitle .title {
  font-size:2em;
  font-style:italic;
  font-weight:bold;
}
#detail .text {
  font-size:1.45em;
}
#detail .text a {
  text-decoration:none;
}
.currentTextHolder {
 	font-size:1.2em;
}
.section a,.qtip-content {
 	font-size:1.2em;
 	font-weight:bold;
}
.stripe ul li .text, .modal {
  font-size:1.45em;
}
.stripe ul li .title {
  font-style:italic;
  font-weight:bold;
}