; Database Tables and Tabletypes
; A Tabletype must be unique

[tables]
	dbcollection = '156:Administrative Collection'
	dbitem = '157:Main Collection'
	dbuser = '395:Site users and administrators'
	; dbcontact = '396:CRM and Directory Contacts'
	; dbcatalog = '397:Catalogue of Products and Services'
	dbdirectory = '308:Business Directory'
	; dbadvert = '398:Site advertising and banners'
	; dbcart = '399:eCommerce and Cart system'
	dblocation = '400:Locations'
	; dbproject = '328:Projects'
	; dbclassad = '401:Classified Advertising'
	dbtransaction = '403:Transactions'
	dbindex = '9999:Index entries'
	dbarchive = '9999:Backup table for dbitems'
	dblog = '9999:Log files'
	dbsession = '9999:Session entries'

[tabletypes]

	[tabletypes:service]
		table = 'dbcollection'
		tabletype = 'service'
		displayusing = 'datagrid'
		title = '479:Services'
		notes = ''	

	[tabletypes:collection]
		table = 'dbcollection'
		tabletype = 'collection'
		displayusing = 'datagrid'
		title = '116:Collections'
		notes = ''

	[tabletypes:model]
		table = 'dbcollection'
		tabletype = 'model'
		displayusing = 'datacard'
		title = '9999:Models'
		notes = ''

	[tabletypes:form]
		table = 'dbcollection'
		tabletype = 'form'
		title = '405:Form definition'
		displayusing = 'datacard'
		notes = ''

	[tabletypes:admfooter]
		table = 'dbcollection'
		tabletype = 'admfooter'
		title = '406:Administration footer links'
		displayusing = 'datatree'
		notes = ''

	[tabletypes:admtopleftmenu]
		table = 'dbcollection'
		tabletype = 'admtopleftmenu'
		title = '36:Administration top menu'
		displayusing = 'datatree'
		notes = ''

	[tabletypes:admdashboard]
		table = 'dbcollection'
		tabletype = 'admdashboard'
		title = '407:Administration dashboard widget configuration'
		displayusing = 'datacard'
		notes = ''

	[tabletypes:admleftsidemenu]
		table = 'dbcollection'
		tabletype = 'admleftsidemenu'
		title = '38:Administration side menu'
		displayusing = 'datatree'
		notes = ''

	[tabletypes:image]
		table = 'dbcollection,dbitem'
		tabletype = 'image'
		title = '217:Image'
		displayusing = 'gallery'
		notes = 'JSON Text only'

	[tabletypes:string]
		table = 'dbcollection,dbitem'
		tabletype = 'string'
		title = '404:Translatable string'
		displayusing = 'datagrid'
		notes = ''		

	[tabletypes:list]
		table = 'dbcollection,dbitem'
		tabletype = 'list'
		title = '289:Field select and autocomplete options'
		displayusing = 'datagrid'
		notes = ''

	[tabletypes:report]
		table = 'dbitem,dbcollection'
		tabletype = 'report'
		title = '408:Report and view configuration'
		displayusing = 'datalist'
		notes = ''

	[tabletypes:admhelp]
		table = 'dbcollection'
		tabletype = 'admhelp'
		title = '409:Administrative Help Records'
		displayusing = 'datagrid'
		notes = ''

	[tabletypes:document]
		table = 'dbitem'
		tabletype = 'document'
		title = '410:Content in rich text format'
		displayusing = 'datatable'
		notes = ''

	[tabletypes:event]
		table = 'dbitem'
		tabletype = 'event'
		title = '54:Diary Event'
		displayusing = 'calendar'
		notes = ''

	[tabletypes:library]
		table = 'dbitem'
		tabletype = 'library'
		title = '411:Downloadable electronic document'
		displayusing = 'datatable'
		notes = 'PDF or ODT etc.'

	[tabletypes:news]
		table = 'dbitem'
		tabletype = 'news'
		title = '412:News articles and blog'
		displayusing = 'datatable'
		notes = 'Uses version and revision system'

	[tabletypes:section]
		table = 'dbitem'
		tabletype = 'section'
		title = '413:Web site content templates, themes, sections and components'
		displayusing = 'datacard'
		notes = ''

	[tabletypes:config]
		table = 'dbitem'
		tabletype = 'config'
		title = '43:Configuration'
		displayusing = 'datagrid'
		notes = 'User generated values that override config file'

	[tabletypes:weblink]
		table = 'dbitem'
		tabletype = 'weblink'
		displayusing = 'datatable'
		title = '52:Useful web links'
		notes = ''

	[tabletypes:topmenu]
		table = 'dbitem'
		tabletype = 'topmenu'
		displayusing = 'datatree'
		title = '297:Main header menu'
		notes = ''

	[tabletypes:sidemenu]
		table = 'dbitem'
		tabletype = 'sidemenu'
		displayusing = 'datatree'
		title = '291:Main sidemenu'
		notes = ''

	[tabletypes:footer]
		table = 'dbitem'
		tabletype = 'footer'
		displayusing = 'datatree'
		title = '299:Main footer menu'
		notes = ''

	[tabletypes:help]
		table = 'dbitem'
		tabletype = 'help'
		title = '45:Help Records'
		displayusing = 'datatable'
		notes = ''

	[tabletypes:text]
		table = 'dbitem'
		tabletype = 'text'
		displayusing = 'datatable'
		title = '414:Translatable content'
		notes = ''

	[tabletypes:administrator]
		table = 'dbuser'
		tabletype = 'administrator'
		title = '34:Administrative Users'
		displayusing = 'datagrid'
		notes = ''

	[tabletypes:manual]
		table = 'dbitem'
		tabletype = 'manual'
		displayusing = 'datatree'
		title = '333:Manual'
		notes = ''	

	[tabletypes:module]
		table = 'dbitem'
		tabletype = 'module'
		displayusing = 'datatable'
		title = '489:Modules'
		notes = ''

	[tabletypes:newsitem]
		table = 'dbitem'
		tabletype = 'newsitem'
		displayusing = 'datagrid'
		title = '527:News item'
		notes = 'Used by the RSS newsfeed plugin and widget'	

	[tabletypes:journal]
		table = 'dbtransaction'
		tabletype = 'journal'
		displayusing = 'datatablesnet'
		title = '536:Journal entry'
		notes = 'Part of the accounting system'	

	[tabletypes:cashbook]
		table = 'dbtransaction'
		tabletype = 'cashbook'
		displayusing = 'datatablesnet'
		title = '537:Cash book'
		notes = 'Part of the accounting system'	

	[tabletypes:purchase]
		table = 'dbtransaction'
		tabletype = 'purchase'
		displayusing = 'datatablesnet'
		title = '538:Purchase'
		notes = 'Part of the accounting system'	

	[tabletypes:invoice]
		table = 'dbtransaction'
		tabletype = 'invoice'
		displayusing = 'datatablesnet'
		title = '539:Invoice'
		notes = 'Part of the accounting system'	

	[tabletypes:stock]
		table = 'dbtransaction'
		tabletype = 'stock'
		displayusing = 'datatablesnet'
		title = '540:Stock'
		notes = 'Part of the accounting system'	

	[tabletypes:general]
		table = 'dbtransaction'
		tabletype = 'general'
		displayusing = 'datatablesnet'
		title = '541:Nominal ledger'
		notes = 'Part of the accounting system'	

[fieldnames]

	c_category = '196:Category'
	c_common = '6:Common'
	c_document = '197:Document'
	c_email = '95:Email address'
	c_group = '96:Group'
	c_lastmodified = '198:Last modified'
	c_level = '99:Level'
	c_notes = '8:Notes'
	c_options = '31:Options'
	c_order = '129:Order'
	c_parent = '23:Parent'
	c_password = '2:Password'
	c_reference = '9999:Reference'
	c_revision = '3:Revision'
	c_status = '199:Status'
	c_type = '128:Type'
	c_username = '1:User name'
	c_version = '200:Version'
	c_whomodified = '201:Who modified'
	d_addr1 = '203:Address Line 1'
	d_addr2 = '204:Address Line 2'
	d_avatar = '9999:Avatar'
	d_city = '207:City'
	d_comments = '208:Comments'
	d_company = '209:Company'
	d_country = '210:Country'
	d_css = '9999:CSS'
	d_description = '125:Description'
	d_firstname = '211:First name'
	d_icon = '214:Icon'
	d_identity = '215:Identity'
	d_identitytype = '216:Identity type'
	d_image = '217:Image'
	d_langcd = '187:Language'
	d_lastname = '213:Last name'
	d_midname = '212:Middle name'
	d_page = '143:Page'
	d_phone = '218:Telephone'
	d_postcode = '219:Post code'
	d_region = '220:Region'
	d_responsibility = '221:Responsibility'
	d_submenu = '222:Submenu'
	d_suburb = '223:Suburb'
	d_table = '126:Table'
	d_tabletype = '167:Tabletypes'
	d_text = '140:Text'
	d_title = '130:Title'
	d_type = '128:Type'
	d_url = '9999:URL'
	d_value = '138:Value'
	id = '9999:Id'