/* Standard Cliqon CSS Styles and additional libraries */
/**********************************************  Standard Cliq  *********************************************/


	.caps {     /* creates small caps */
	  font-variant: small-caps;
	  letter-spacing: 1px;
	  text-transform: lowercase;
	  font-weight:bold;
	  padding:0 2px;
	}
	
	.capitalize, .ucfirst {
		text-transform: capitalize;
	}

	/* -- fixed-width cells -- */
	.c1 {width:20px}.c2 {width:40px}.c3 {width:60px}.c4 {width:80px}.c5 {width:100px}.c6 {width:120px}.c7 {width:140px}.c8 {width:160px}.c9 {width:180px}.c10 {width:200px}.c11 {width:220px}.c12 {width:240px}.c13 {width:260px}.c14 {width:280px}.c15 {width:300px}.c16 {width:320px}.c17 {width:340px}.c18 {width:360px}.c19 {width:380px}.c20 {width:400px}.c21 {width:420px}.c22 {width:440px}.c23 {width:460px}.c24 {width:480px}.c25 {width:500px}
	.c26 {width:520px}.c27 {width:540px}.c28 {width:560px}.c29 {width:580px}.c30 {width:600px}.c31 {width:620px}.c32 {width:640px}.c33 {width:660px}.c34 {width:680px}.c35 {width:700px}.c36 {width:720px}.c37 {width:740px}.c38 {width:760px}.c39 {width:780px}.c40 {width:800px}.c41 {width:820px}.c42 {width:840px}.c43 {width:860px}.c44 {width:880px}.c45 {width:900px}.c46 {width:920px}.c47 {width:940px}.c48 {width:960px}.c49 {width:980px}.c50 {width:1000px}
	.c60{width:1200px}.c70{width:1400px}.c80{width:1600px}.c90{width:1800px}.c100{width:2000px}

	/* -- percentage-width cells -- */
	.e10 {width: 10%;} .e20 {width: 20%;} .e25 {width: 25%;} .e30 {width: 30%;} .e33 {width: 33.33333%;} .e40 {width: 40%;} .e50 {width: 50%;} .e60 {width: 60%;} .e66 {width: 66.666666%;} .e70 {width: 70%;} .e75 {width: 75%;} .e80 {width: 80%;} .e90 {width: 90%;} .e100 {width: 100%;}

	.icn {width: 2rem;}

	.h10 {height: 10px} .h20 {height:20px} .h30 {height: 30px;} .h40 {height:40px} .h50 {height: 50px;} .h60 {height:60px}.h80 {height:80px}
	.h100 {height:100px}.h120 {height:120px}.h140 {height:140px}.h160 {height:160px}.h180 {height:180px}
	.h200 {height:200px}.h220 {height:220px}.h240 {height:240px}.h260 {height:260px}.h280 {height:280px}
	.h300 {height:300px} .h320 {height:320px} .h340 {height:340px} .h360 {height:360px}  
	.h400 {height:400px} .h500 {height:500px} .h540 {height:540px} .h600 {height:600px} .h700 {height:700px} .h740 {height:740px}  .h800 {height:800px}
	.h32 {height: 32px;} .h34 {height: 34px;} .h36 {height: 36px;} .h38 {height: 38px;} /* Bootstrap form control heights */

	.minh1 {min-height:20px}.minh2 {min-height:40px}.minh3 {min-height:60px}.minh4 {min-height:80px}.minh5 {min-height:100px}.minh6 {min-height:120px}.minh7 {min-height:140px}.minh8 {min-height:160px}.minh9 {min-height:180px}.minh10 {min-height:200px}.minh11 {min-height:220px}.minh12 {min-height:240px}.minh13 {min-height:260px}.minh14 {min-height:280px}.minh15 {min-height:300px}.minh16 {min-height:320px}.minh17 {min-height:340px}.minh18 {min-height:360px}.minh19 {min-height:380px}.minh20 {min-height:400px}.minh21 {min-height:420px}.minh22 {min-height:440px}.minh23 {min-height:460px}.minh24 {min-height:480px}.minh25 {min-height:500px}
	.minh26 {min-height:520px}.minh27 {min-height:540px}.minh28 {min-height:560px}.minh29 {min-height:580px}.minh30 {min-height:600px}.minh31 {min-height:620px}.minh32 {min-height:640px}.minh33 {min-height:660px}.minh34 {min-height:680px}.minh35 {min-height:700px}.minh36 {min-height:720px}.minh37 {min-height:740px}.minh38 {min-height:760px}.minh39 {min-height:780px}.minh40 {min-height:800px}.minh41 {min-height:820px}.minh42 {min-height:840px}.minh43 {min-height:860px}.minh44 {min-height:880px}.minh45 {min-height:900px}.minh46 {min-height:920px}.minh47 {min-height:940px}.minh48 {min-height:960px}.minh49 {min-height:980px}.minh50 {min-height:1000px}

	.maxh1 {max-height:20px}.maxh2 {max-height:40px}.maxh3 {max-height:60px}.maxh4 {max-height:80px}.maxh5 {max-height:100px}.maxh6 {max-height:120px}.maxh7 {max-height:140px}.maxh8 {max-height:160px}.maxh9 {max-height:180px}.maxh10 {max-height:200px}.maxh11 {max-height:220px}.maxh12 {max-height:240px}.maxh13 {max-height:260px}.maxh14 {max-height:280px}.maxh15 {max-height:300px}.maxh16 {max-height:320px}.maxh17 {max-height:340px}.maxh18 {max-height:360px}.maxh19 {max-height:380px}.maxh20 {max-height:400px}.maxh21 {max-height:420px}.maxh22 {max-height:440px}.maxh23 {max-height:460px}.maxh24 {max-height:480px}.maxh25 {max-height:500px}
	.maxh26 {max-height:520px}.maxh27 {max-height:540px}.maxh28 {max-height:560px}.maxh29 {max-height:580px}.maxh30 {max-height:600px}.maxh31 {max-height:620px}.maxh32 {max-height:640px}.maxh33 {max-height:660px}.maxh34 {max-height:680px}.maxh35 {max-height:700px}.maxh36 {max-height:720px}.maxh37 {max-height:740px}.maxh38 {max-height:760px}.maxh39 {max-height:780px}.maxh40 {max-height:800px}.maxh41 {max-height:820px}.maxh42 {max-height:840px}.maxh43 {max-height:860px}.maxh44 {max-height:880px}.maxh45 {max-height:900px}.maxh46 {max-height:920px}.maxh47 {max-height:940px}.maxh48 {max-height:960px}.maxh49 {max-height:980px}.maxh50 {max-height:1000px}

	.minc1 {min-width:20px}.minc2 {min-width:40px}.minc3 {min-width:60px}.minc4 {min-width:80px}.minc5 {min-width:100px}.minc6 {min-width:120px}.minc7 {min-width:140px}.minc8 {min-width:160px}.minc9 {min-width:180px}.minc10 {min-width:200px}.minc11 {min-width:220px}.minc12 {min-width:240px}.minc13 {min-width:260px}.minc14 {min-width:280px}.minc15 {min-width:300px}.minc16 {min-width:320px}.minc17 {min-width:340px}.minc18 {min-width:360px}.minc19 {min-width:380px}.minc20 {min-width:400px}.minc21 {min-width:420px}.minc22 {min-width:440px}.minc23 {min-width:460px}.minc24 {min-width:480px}.minc25 {min-width:500px}
	.minc26 {min-width:520px}.minc27 {min-width:540px}.minc28 {min-width:560px}.minc29 {min-width:580px}.minc30 {min-width:600px}.minc31 {min-width:620px}.minc32 {min-width:640px}.minc33 {min-width:660px}.minc34 {min-width:680px}.minc35 {min-width:700px}.minc36 {min-width:720px}.minc37 {min-width:740px}.minc38 {min-width:760px}.minc39 {min-width:780px}.minc40 {min-width:800px}.minc41 {min-width:820px}.minc42 {min-width:840px}.minc43 {min-width:860px}.minc44 {min-width:880px}.minc45 {min-width:900px}.minc46 {min-width:920px}.minc47 {min-width:940px}.minc48 {min-width:960px}.minc49 {min-width:980px}.minc50 {min-width:1000px}

	.maxc1 {max-width:20px}.maxc2 {max-width:40px}.maxc3 {max-width:60px}.maxc4 {max-width:80px}.maxc5 {max-width:100px}.maxc6 {max-width:120px}.maxc7 {max-width:140px}.maxc8 {max-width:160px}.maxc9 {max-width:180px}.maxc10 {max-width:200px}.maxc11 {max-width:220px}.maxc12 {max-width:240px}.maxc13 {max-width:260px}.maxc14 {max-width:280px}.maxc15 {max-width:300px}.maxc16 {max-width:320px}.maxc17 {max-width:340px}.maxc18 {max-width:360px}.maxc19 {max-width:380px}.maxc20 {max-width:400px}.maxc21 {max-width:420px}.maxc22 {max-width:440px}.maxc23 {max-width:460px}.maxc24 {max-width:480px}.maxc25 {max-width:500px}
	.maxc26 {max-width:520px}.maxc27 {max-width:540px}.maxc28 {max-width:560px}.maxc29 {max-width:580px}.maxc30 {max-width:600px}.maxc31 {max-width:620px}.maxc32 {max-width:640px}.maxc33 {max-width:660px}.maxc34 {max-width:680px}.maxc35 {max-width:700px}.maxc36 {max-width:720px}.maxc37 {max-width:740px}.maxc38 {max-width:760px}.maxc39 {max-width:780px}.maxc40 {max-width:800px}.maxc41 {max-width:820px}.maxc42 {max-width:840px}.maxc43 {max-width:860px}.maxc44 {max-width:880px}.maxc45 {max-width:900px}.maxc46 {max-width:920px}.maxc47 {max-width:940px}.maxc48 {max-width:960px}.maxc49 {max-width:980px}.maxc50 {max-width:1000px}

	/* pads & margins */
	.m0 {margin: 0} .m5 {margin: 5px} .m10 {margin: 10px} .m20{margin: 20px}
	.ml5{margin-left:5px} .ml10 {margin-left:10px} .ml15{margin-left:15px} .ml20{margin-left:20px} .ml25{margin-left: 25px;} .ml28{margin-left: 28px;} .ml30{margin-left: 30px;} .ml60{margin-left: 60px;}
	.ml-5 {margin-left: -5px;} .ml-10 {margin-left: -10px;} .ml-15 {margin-left: -15px;} .ml-20 {margin-left: -20px;}
	.mlf{margin-left: 105px;}
	.mr5{margin-right:5px} .mr10 {margin-right:10px} .mr15{margin-right:15px} .mr20{margin-right:20px}
	.mr-5{margin-right: -5px} .mr-10{margin-right: -10px} .mr-15{margin-right: -15px} .mr-20{margin-right: -20px}
	.mb5 {margin-bottom:5px} .mb10 {margin-bottom:10px} .mb20 {margin-bottom:20px;} .mb30 {margin-bottom:30px} 
	.mt0 {margin-top: 0px;} .mt3 {margin-top:3px;} .mt5 {margin-top:5px;} .mt8 {margin-top: 8px;} .mt9 {margin-top: 9px;} .mt10 {margin-top:10px} .mt12 {margin-top:12px} .mt15 {margin-top:15px;} .mt20 {margin-top:20px;} .mt30 {margin-top:30px} .mt40 {margin-top:40px} .mt50 {margin-top:50px} .mt60 {margin-top:60px} 
	.mt-5 {margin-top:-5px;}  .mt-10 {margin-top:-10px;} .mt-12 {margin-top:-12px;}.mt-13 {margin-top:-13px;} .mt-15 {margin-top:-15px;} .mt-20 {margin-top:-20px;} .mt-30 {margin-top:-30px}  .mt-40 {margin-top:-40px}  
	.mb0 {margin-bottom: 0px;} .mb-5 {margin-bottom: -5px;} .mb-10 {margin-bottom: -10px;} .mb-12 {margin-bottom: -12px;}.mb-13 {margin-bottom: -13px;} .mb-20 {margin-bottom: -20px;} .mb-30 {margin-bottom: -30px;} .mb-40 {margin-bottom: -40px;} .mb-60 {margin-bottom: -60px;}
	.tiny {margin: -20px -17px -17px -17px; padding: 0;}

	.pad0 {padding: 0px;} .pad2 {padding: 2px;} .pad3 {padding:3px;} .pad4 {padding:4px;} .hlf-pad, .pad5 { padding:5px } .pad6 { padding:6px } .pad, .pad10 { padding:10px } .dbl-pad, .pad20{ padding:20px }  /*  pad, half, double padding */
	.fp1 {padding-bottom:10px} .fp2 {padding-bottom:20px;} .fp3 {padding-bottom:30px}  
	.tp1 {padding-top: 1px;}  .tp2 {padding-top: 2px;}  .tp3 {padding-top: 3px;} .tp4 {padding-top: 4px;}   .tp5 {padding-top: 5px;}   .tp10 {padding-top: 10px;} .tp15 {padding-top: 15px;}
	.lp0 {padding-left: 0;} .lp5 {padding-left: 5px;} .lp10 {padding-left: 10px;} .lp15 {padding-left: 15px;} .lp20 {padding-left: 20px;} .lp25 {padding-left: 24px; 	white-space: nowrap; padding-right: 10px;}
	.rp0 {padding-right: 0px;} .rp5 {padding-right: 5px;} .rp10 {padding-right: 10px;} .rp15 {padding-right: 15px;} .rp20 {padding-right: 20px;}
	.vpad10 {padding: 10px 8px 10px 3px;}
	.vab {vertical-align: bottom;} .vat {vertical-align: top;}

	.hide {display:none;}
	.show {display:block;}
	.inline {display:inline;}
	.currency, .txt-right {text-align:right;} .txt-center {text-align:center;} .txt-left {text-align:left;}

	.larger {font-size: 120%;}
	.verylarge {font-size: 150%;}
	.smaller {font-size: 80%;}
	.verysmall {font-size: 60%;}
	.nowrap {white-space: nowrap;}
	.gutter {margin: 0 13px 10px 0;}

	/* -- borders -- */
	.noborder {border: 0;}
	.box {border: 1px solid #d9d9d9;}
	.border, .border1  { border-width: 1px }
	.border2 { border-width: 2px }
	.border3 { border-width: 3px }
	.border4 { border-width: 4px }
	.border5 { border-width: 5px }
	.tpb { border-top: 1px }.rtb { border-right: 1px }.bmb { border-bottom: 1px }.ltb { border-left: 1px }
	.colborder { padding-right: 9px;  margin-right: 10px; }

	.border,.border1,.border2,.border3, .tpb, .rtb, .bmb, .ltb { border-style: solid; border-color: #d9d9d9; }
	.border:focus,.border1:focus,.border2:focus,.border3:focus, .tpb:focus, .rtb:focus, .bmb:focus, .ltb:focus { border-style: solid; border-color: #8ad4ee; }
	.colborder { border-right: 1px solid #d9d9d9; }

	  .round2 {
	    
	    /* Do rounding (native in Firefox and Safari) */
	    -moz-border-radius:2px;
	    -khtml-border-radius:2px;
	    -webkit-border-radius:2px;
	    border-radius:2px;
	    behavior:url('border-radius.htc'); 
	      
	  }
	  .round4 {
	    
	    /* Do rounding (native in Firefox and Safari) */
	    -moz-border-radius:4px;
	    -khtml-border-radius:4px;
	    -webkit-border-radius:4px;
	    border-radius:4px;
	    behavior:url('border-radius.htc'); 
	    
	  }

	  .shadow {
	    -moz-box-shadow:    2px 2px 2px 2px #ccc;
	    -webkit-box-shadow: 2px 2px 2px 2px #ccc;
	    box-shadow:         2px 2px 2px 2px #ccc;
	  }

	/* position */  
	.above {position:absolute;}
	.left { float:left;} 
	.right { float:right; }
	.center {margin: 0 auto;}
	.top { margin-top:0; padding-top:0; vertical-align: top;}
	.top5 { margin-top:0; padding-top:5px; vertical-align: top;}
	.bottom { margin-bottom:0; padding-bottom:0; }
	.front { z-index: 1000; }
	.back { z-index: -1000; }
	.fixed { position:fixed; }
	.nowrap { white-space: nowrap;}

	.bold       {font-weight: bold }
	.quiet      { color: #d9d9d9; }
	.loud       { color: #000; }
	.highlight  { background:#ff0; }
	.added      { background:#060; color: #fff; }
	.removed    { background:#900; color: #fff; }

	/* -- background colors -- */
	.white { background:#fff; }
	.black { background: #373A3C; }
	.silver { background:#c0c0c0; }
	.lightgray { background:#e0e0e0; }
	.softgreen { background-color: #C6D880 }    /* soft colors */
	.softblue { background-color: #8ad4ee }
	.softred { background-color: #FBC2C4 }
	.softyellow{ background-color: #FDEE89 }
	.pastelgreen { background-color: #E6EFC2 }
	.greybg {background-color: #526872;}
	.faded {  
	background-color: #373A3C;
	color: #ccc;
	}

	/* -- colors  -----*/
	.whitec {color: #fff;} 
	.blackc {color: #373A3C;}
	.greyc {color: #263238;}
	.bluec {color: #003366;}
	.lightbluec {color: #8ad4ee;}
	.orangec {color: #F58113;}
	.redc {color:#EF2E31;}

	.pointer {
		cursor:pointer;
	}

	.uline, .underline {
		text-decoration: underline;
	}

	/* scroll */
	.clip {overflow:hidden;}
	.clip-x {overflow-x:hidden;}
	.clip-y {overflow-y:hidden;}
	.scrollable { overflow:auto;}

	input:required {
		background:#e0e0e0; 
		border: 1px solid #EF2E31;
	}

	.required label:after {
	    color: #e32;
	    content: ' *';
	    font-weight: bold;
	    display:inline;
	}

/**********************************************  Grid Components  *******************************************/
	
	#gridreport {
		background: #f5f5f5;
		padding: 1em;
	}

	.gridwrapper {
		display: grid;
		background-image: url("../img/graphy.png");
		/* background: #ddd; */
		grid-template-columns: repeat(24, 1fr);
		grid-auto-rows: 30px;
		grid-column-gap: 0.2em;
	  	grid-row-gap: 0.2em;
	  	grid-auto-flow: dense;
	}

	.reportwrapper {
		display: grid;
		background: #f5f5f5;
		grid-template-columns: repeat(24, 1fr);
		grid-auto-rows: 36px;
		grid-column-gap: 0.2em;
	  	grid-row-gap: 0.4em;
	  	grid-auto-flow: column;
	  	border-bottom: 1px solid #ccc;
	}

	.gridi {
	  	border: 1px solid #d9d9d9;
	  	padding: 0.3em 0.8em;
		background-color: #29363d;
		color: #ccc;
	}


/**********************************************  Horizontal Line Styles  ************************************/

	hr.style1 {
		border-top: 1px solid #8c8b8b;
	}


	hr.style2 {
		border-top: 3px double #8c8b8b;
	}

	hr.style3 {
		border-top: 1px dashed #8c8b8b;
	}

	hr.style4 {
		border-top: 1px dotted #8c8b8b;
	}

	hr.style5 {
		background-color: #fff;
		border-top: 2px dashed #8c8b8b;
	}


	hr.style6 {
		background-color: #fff;
		border-top: 2px dotted #8c8b8b;
	}

	hr.style7 {
		border-top: 1px solid #8c8b8b;
		border-bottom: 1px solid #fff;
	}


	hr.style8 {
		border-top: 1px solid #8c8b8b;
		border-bottom: 1px solid #fff;
	}
	hr.style8:after {
		content: '';
		display: block;
		margin-top: 2px;
		border-top: 1px solid #8c8b8b;
		border-bottom: 1px solid #fff;
	}

	hr.style9 {
		border-top: 1px dashed #8c8b8b;
		border-bottom: 1px dashed #fff;
	}

	hr.style10 {
		border-top: 1px dotted #8c8b8b;
		border-bottom: 1px dotted #fff;
	}

	hr.style11 { 
	  border: 0; 
	  height: 1px; 
	  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
	  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
	}


	hr.style12 {
		border-top: 4px double #8c8b8b;
		text-align: center;
	}
	hr.style12:after {
		content: '\002665';
		display: inline-block;
		position: relative;
		top: -15px;
		padding: 0 10px;
		background: #f0f0f0;
		color: #8c8b8b;
		font-size: 18px;
	}

	hr.style16 { 
	  border-top: 1px dashed #8c8b8b; 
	} 
	hr.style16:after { 
	  content: '\002702'; 
	  display: inline-block; 
	  position: relative; 
	  top: -12px; 
	  left: 40px; 
	  padding: 0 3px; 
	  background: #f0f0f0; 
	  color: #8c8b8b; 
	  font-size: 18px; 
	}


	hr.style17 {
		border-top: 1px solid #8c8b8b;
		text-align: center;
	}
	hr.style17:after {
		content: '§';
		display: inline-block;
		position: relative;
		top: -14px;
		padding: 0 10px;
		background: #f0f0f0;
		color: #8c8b8b;
		font-size: 18px;
		-webkit-transform: rotate(60deg);
		-moz-transform: rotate(60deg);
		transform: rotate(60deg);
	}


	hr.style18 { 
	  height: 30px; 
	  border-style: solid; 
	  border-color: #8c8b8b; 
	  border-width: 1px 0 0 0; 
	  border-radius: 20px; 
	} 
	hr.style18:before { 
	  display: block; 
	  content: ""; 
	  height: 30px; 
	  margin-top: -31px; 
	  border-style: solid; 
	  border-color: #8c8b8b; 
	  border-width: 0 0 1px 0; 
	  border-radius: 20px; 
	}

/**********************************************  Boot Complete  *********************************************/

	.bc-wrapper{
	    position: relative;
	}

	.bc-wrapper .bc-menu{
	    position: absolute;
	    z-index: 1000;
	    width: 100%;
	    display: none;
	}

	.input-group .bc-wrapper .bc-menu {
	    top: 38px;
	}

/**********************************************  Tagit  *****************************************************/

	ul.tagit {
	    padding: 1px 5px;
	    overflow: auto;
	    margin-left: inherit; /* usually we don't want the regular ul margins. */
	    margin-right: inherit;
	    background-color: #eee;
	}
	ul.tagit li {
	    display: block;
	    float: left;
	    margin: 2px 5px 2px 0;
	}
	ul.tagit li.tagit-choice {    
	    position: relative;
	    line-height: inherit;
	}
	input.tagit-hidden-field {
	    display: none;
	}
	ul.tagit li.tagit-choice-read-only { 
	    padding: .2em .5em .2em .5em; 
	} 

	ul.tagit li.tagit-choice-editable { 
	    padding: .2em 18px .2em .5em; 
	} 

	ul.tagit li.tagit-new {
	    padding: .25em 4px .25em 0;
	}

	ul.tagit li.tagit-choice a.tagit-label {
	    cursor: pointer;
	    text-decoration: none;
	}
	ul.tagit li.tagit-choice .tagit-close {
	    cursor: pointer;
	    position: absolute;
	    right: .1em;
	    top: 50%;
	    margin-top: -8px;
	    line-height: 17px;
	}

	/* used for some custom themes that don't need image icons */
	ul.tagit li.tagit-choice .tagit-close .text-icon {
	    display: none;
	}

	ul.tagit li.tagit-choice input {
	    display: block;
	    float: left;
	    margin: 2px 5px 2px 0;
	}
	ul.tagit input[type="text"] {
	    -moz-box-sizing:    border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing:         border-box;

	    -moz-box-shadow: none;
	    -webkit-box-shadow: none;
	    box-shadow: none;

	    border: none;
	    margin: 0;
	    padding: 0;
	    width: inherit;
	    background-color: inherit;
	    outline: none;
	}

	ul.tagit {
	    border-style: solid;
	    border-width: 1px;
	    border-color: #C6C6C6;
	    background: inherit;
	}
	ul.tagit li.tagit-choice {
	    -moz-border-radius: 2px;
	    border-radius: 2px;
	    -webkit-border-radius: 2px;
	    border: 1px solid #CAD8F3;

	    background: none;
	    background-color: #DEE7F8;

	    font-weight: normal;
	}
	ul.tagit li.tagit-choice .tagit-label:not(a) {
	    color: #555;
	}
	ul.tagit li.tagit-choice a.tagit-close {
	    text-decoration: none;
	}
	ul.tagit li.tagit-choice .tagit-close {
	    right: .4em;
	}
	ul.tagit li.tagit-choice .ui-icon {
	    display: none;
	}
	ul.tagit li.tagit-choice .tagit-close .text-icon {
	    display: inline;
	    font-family: arial, sans-serif;
	    font-size: 16px;
	    line-height: 16px;
	    color: #777;
	}
	ul.tagit li.tagit-choice:hover, ul.tagit li.tagit-choice.remove {
	    background-color: #bbcef1;
	    border-color: #6d95e0;
	}
	ul.tagit li.tagit-choice a.tagLabel:hover,
	ul.tagit li.tagit-choice a.tagit-close .text-icon:hover {
	    color: #222;
	}
	ul.tagit input[type="text"] {
	    color: #333333;
	    background: none;
	}
	.ui-widget {
	    font-size: 1.1em;
	}

	/* Forked from a jQuery UI theme, so that we don't require the jQuery UI CSS as a dependency. */
	.tagit-autocomplete.ui-autocomplete { position: absolute; cursor: default; }
	* html .tagit-autocomplete.ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
	.tagit-autocomplete.ui-menu {
	    list-style:none;
	    padding: 2px;
	    margin: 0;
	    display:block;
	    float: left;
	}
	.tagit-autocomplete.ui-menu .ui-menu {
	    margin-top: -3px;
	}
	.tagit-autocomplete.ui-menu .ui-menu-item {
	    margin:0;
	    padding: 0;
	    zoom: 1;
	    float: left;
	    clear: left;
	    width: 100%;
	}
	.tagit-autocomplete.ui-menu .ui-menu-item a {
	    text-decoration:none;
	    display:block;
	    padding:.2em .4em;
	    line-height:1.5;
	    zoom:1;
	}
	.tagit-autocomplete .ui-menu .ui-menu-item a.ui-state-hover,
	.tagit-autocomplete .ui-menu .ui-menu-item a.ui-state-active {
	    font-weight: normal;
	    margin: -1px;
	}
	.tagit-autocomplete.ui-widget-content { 
		border: 1px solid #aaaaaa; background: #ffffff 50% 50% repeat-x; color: #222222; }
	.tagit-autocomplete.ui-corner-all, .tagit-autocomplete .ui-corner-all { 
		-moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; }
	.tagit-autocomplete .ui-state-hover, .tagit-autocomplete .ui-state-focus { 
		border: 1px solid #999999; background: #dadada; font-weight: normal; color: #212121; }
	.tagit-autocomplete .ui-state-active  { 
		border: 1px solid #aaaaaa; }

	.tagit-autocomplete .ui-widget-content { 
		border: 1px solid #aaaaaa; }
	.tagit .ui-helper-hidden-accessible { 
		position: absolute !important; clip: rect(1px,1px,1px,1px); }


/**********************************************  Bootstrap Slider  ******************************************/
	
	.slider{display:inline-block;vertical-align:middle;position:relative}
	.slider.slider-horizontal{width:210px;height:20px}
	.slider.slider-horizontal .slider-track{height:10px;width:100%;margin-top:-5px;top:50%;left:0}
	.slider.slider-horizontal .slider-selection,.slider.slider-horizontal .slider-track-low,.slider.slider-horizontal 
	.slider-track-high{height:100%;top:0;bottom:0}
	.slider.slider-horizontal .slider-tick,.slider.slider-horizontal .slider-handle{margin-left:-10px}
	.slider.slider-horizontal .slider-tick.triangle,.slider.slider-horizontal 
	.slider-handle.triangle{position:relative;top:50%;transform:translateY(-50%);
	border-width:0 10px 10px 10px;width:0;height:0;border-bottom-color:#0480be;margin-top:0}
	.slider.slider-horizontal .slider-tick-container{white-space:nowrap;position:absolute;top:0;left:0;width:100%}
	.slider.slider-horizontal .slider-tick-label-container{white-space:nowrap;margin-top:20px}
	.slider.slider-horizontal .slider-tick-label-container .slider-tick-label{padding-top:4px;
	display:inline-block;text-align:center}
	.slider.slider-horizontal.slider-rtl .slider-track{left:initial;right:0}
	.slider.slider-horizontal.slider-rtl .slider-tick,.slider.slider-horizontal.slider-rtl 
	.slider-handle{margin-left:initial;margin-right:-10px}
	.slider.slider-horizontal.slider-rtl .slider-tick-container{left:initial;right:0}
	.slider.slider-vertical{height:210px;width:20px}
	.slider.slider-vertical .slider-track{width:10px;height:100%;left:25%;top:0}
	.slider.slider-vertical .slider-selection{width:100%;left:0;top:0;bottom:0}
	.slider.slider-vertical .slider-track-low,.slider.slider-vertical 
	.slider-track-high{width:100%;left:0;right:0}
	.slider.slider-vertical .slider-tick,.slider.slider-vertical .slider-handle{margin-top:-10px}
	.slider.slider-vertical .slider-tick.triangle,.slider.slider-vertical 
	.slider-handle.triangle{border-width:10px 0 10px 10px;width:1px;height:1px;
	border-left-color:#0480be;border-right-color:#0480be;margin-left:0;margin-right:0}
	.slider.slider-vertical .slider-tick-label-container{white-space:nowrap}
	.slider.slider-vertical .slider-tick-label-container .slider-tick-label{padding-left:4px}
	.slider.slider-vertical.slider-rtl .slider-track{left:initial;right:25%}
	.slider.slider-vertical.slider-rtl .slider-selection{left:initial;right:0}
	.slider.slider-vertical.slider-rtl .slider-tick.triangle,.slider.slider-vertical.slider-rtl 
	.slider-handle.triangle{border-width:10px 10px 10px 0}
	.slider.slider-vertical.slider-rtl .slider-tick-label-container 
	.slider-tick-label{padding-left:initial;padding-right:4px}
	.slider.slider-disabled .slider-handle{background-image:-webkit-linear-gradient(top,#dfdfdf 0,#bebebe 100%);background-image:-o-linear-gradient(top,#dfdfdf 0,#bebebe 100%);background-image:linear-gradient(to bottom,#dfdfdf 0,#bebebe 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf',endColorstr='#ffbebebe',GradientType=0)}.slider.slider-disabled .slider-track{background-image:-webkit-linear-gradient(top,#e5e5e5 0,#e9e9e9 100%);background-image:-o-linear-gradient(top,#e5e5e5 0,#e9e9e9 100%);background-image:linear-gradient(to bottom,#e5e5e5 0,#e9e9e9 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5',endColorstr='#ffe9e9e9',GradientType=0);cursor:not-allowed}.slider input{display:none}.slider .tooltip.top{margin-top:-36px}.slider .tooltip-inner{white-space:nowrap;max-width:none}.slider .hide{display:none}.slider-track{position:absolute;cursor:pointer;background-image:-webkit-linear-gradient(top,#f5f5f5 0,#f9f9f9 100%);background-image:-o-linear-gradient(top,#f5f5f5 0,#f9f9f9 100%);background-image:linear-gradient(to bottom,#f5f5f5 0,#f9f9f9 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff9f9f9',GradientType=0);-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);border-radius:4px}.slider-selection{position:absolute;background-image:-webkit-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:-o-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:linear-gradient(to bottom,#f9f9f9 0,#f5f5f5 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9',endColorstr='#fff5f5f5',GradientType=0);-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:4px}.slider-selection.tick-slider-selection{background-image:-webkit-linear-gradient(top,#89cdef 0,#81bfde 100%);background-image:-o-linear-gradient(top,#89cdef 0,#81bfde 100%);background-image:linear-gradient(to bottom,#89cdef 0,#81bfde 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef',endColorstr='#ff81bfde',GradientType=0)}.slider-track-low,.slider-track-high{position:absolute;background:transparent;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-radius:4px}.slider-handle{position:absolute;top:0;width:20px;height:20px;background-color:#337ab7;background-image:-webkit-linear-gradient(top,#149bdf 0,#0480be 100%);background-image:-o-linear-gradient(top,#149bdf 0,#0480be 100%);background-image:linear-gradient(to bottom,#149bdf 0,#0480be 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf',endColorstr='#ff0480be',GradientType=0);filter:none;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);border:0 solid transparent}.slider-handle.round{border-radius:50%}.slider-handle.triangle{background:transparent none}.slider-handle.custom{background:transparent none}.slider-handle.custom::before{line-height:20px;font-size:20px;content:'\2605';color:#726204}.slider-tick{position:absolute;width:20px;height:20px;background-image:-webkit-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:-o-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);background-image:linear-gradient(to bottom,#f9f9f9 0,#f5f5f5 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9',endColorstr='#fff5f5f5',GradientType=0);-webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);box-shadow:inset 0 -1px 0 rgba(0,0,0,0.15);-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;filter:none;opacity:.8;border:0 solid transparent}.slider-tick.round{border-radius:50%}.slider-tick.triangle{background:transparent none}.slider-tick.custom{background:transparent none}.slider-tick.custom::before{line-height:20px;font-size:20px;content:'\2605';color:#726204}.slider-tick.in-selection{background-image:-webkit-linear-gradient(top,#89cdef 0,#81bfde 100%);background-image:-o-linear-gradient(top,#89cdef 0,#81bfde 100%);background-image:linear-gradient(to bottom,#89cdef 0,#81bfde 100%);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff89cdef',endColorstr='#ff81bfde',GradientType=0);opacity:1}


	 /* The switch - the box around the slider */
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 54px;
	  height: 30px;
	}

	/* Hide default HTML checkbox */
	.switch input {display:none;}

	/* The slider */
	.boolean {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.boolean:before {
	  position: absolute;
	  content: "";
	  height: 22px;
	  width: 22px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .boolean {
	  background-color: #2196F3;
	}

	input:focus + .boolean {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .boolean:before {
	  -webkit-transform: translateX(22px);
	  -ms-transform: translateX(22px);
	  transform: translateX(22px);
	}

	/* Rounded sliders */
	.boolean.round {
	  border-radius: 30px;
	}

	.boolean.round:before {
	  border-radius: 50%;
	} 

	i:hover {
		color: #EF2E31;
	}

/**********************************************  PrintJS CSS  **********************************************/	




/**********************************************  Miscellaneous  *********************************************/

	.puzzle-background {
		background-image: url('../img/puzzle_background.jpg');
	}

	.tether-element,.tether-element *,
	.tether-element :after,.tether-element :before,
	.tether-element:after,.tether-element:before{box-sizing:border-box}
	.tether-element{position:absolute; display:none}
	.tether-element.tether-open{display:block}
	
	#popup_box
	{
	 visibility: hidden;
	 display: none;
	 background-color: transparent;
	 position: fixed;
	}

	input:placeholder, textarea:placeholder {
		font-style: italic;
		color: #F58113;
	}

	table tfoot {
		padding: 0;
		margin : 0;

	}

	li.nav-item, a.nav-item {
		text-decoration: none;
	}

	a.nav-link:hover {
		color: #EF2E31;
	}

	.mce-fullscreen {
		margin-top: 50px;
		padding-top: 50px;
	}

	#dataform .CodeMirror{border: 1px solid #C2CFD6; height: 500px;}

	pre {
		overflow: auto;
		white-space: pre-wrap;
		tab-size: 2;
		-o-tab-size: 2;
		-moz-tab-size: 2;
	}

	pre {
	  display: block;
	  margin-top: 0;
	  margin-bottom: 0.7rem;
	  background-color: #E4E5E6;
	  color: #151b1e; 
	}
	  pre code {
		font-family: 'Roboto Mono', monospace;	
		word-break: keep-all;
		font-size: 11px;
		line-height: 12px;	  	
	    padding: 3px;
	    color: #003366;
	    background-color: transparent;
	    border-radius: 0; 
	    letter-spacing: -1px;
	    word-spacing: -3px;
	}

	.pre-scrollable {
	  max-height: 480px;
	  overflow-y: scroll; 
	}

	.mce-container iframe {min-height: 435px;}

	#cliqontable tbody tr:hover {background:#e0e0e0;}
	tr::selection {background: #526872;}
	

	/* gj-datepicker gj-datepicker-bootstrap gj-unselectable */
	input.datepicker {
		border: 1px solid #ccc;
	}


/**************************** Cliqon Div Tables ********************************************************************/

    #clqtable .clqtable {
      display: table;
      font-size: 1em;
      border: 1px solid #ccc;
      border-collapse: collapse;
      width: 100%;
    }

    #clqtable .clqtable-caption {
      display: table-caption;      
    }

    #clqtable .clqtable-header {
      display: table-header-group;
      background-color: #FFFFFF;
      color: #333;
      font-weight: bold;
      width: 100%;
    }

    #clqtable .clqtable-header .clqtable-row .clqtable-cell,
    #clqtable .clqtable-header .clqtable-cell {
        display: table-cell;
        padding: 0.2em 0.8em;
        margin: 0;
        font-size: 1.1em;
        line-height: 1.3em; 
        font-weight: bold;   
        border: 1px solid #ccc;
        border-collapse: collapse; 
    }

    #clqtable .clqtable-footer {
      display: table-footer-group;
    } 

    #clqtable .clqtable-section {
      display: table-row-group;
    }

    #clqtable .clqtable-colgroup {
      display: table-colgroup;      
    }

    #clqtable .clqtable-column {
      display: table-column;      
    }

    #clqtable .clqtable-row {
      display: table-row;
      width: 100%;
      border-collapse: collapse; 
    }

    #clqtable .clqtable-row .clqtable-cell {
        display: table-cell;
        text-align: left;
        min-width: 20em;
        padding: 0.5em 0.8em;
        margin: 5px 0;
        font-size: 1em;
        font-weight: normal;
        line-height: 1.3em;
        border: 1px solid #ccc;
        border-collapse: collapse;
    } 

    #clqtable .clqtable-label, .clqtable-label {
        text-align: right;
        color: #4F8EDC;
        font-weight: normal;
        font-size: 1em;
        width: 105px;
        padding-right: 10px;
        vertical-align: top;
    } 

    #clqtable .clqtable-row .clqtable-hdrlabel {
        display: table-cell;
        padding: 0.3em 0.8em;
        margin: 0;
        color: #DB0630;
        font-weight: bold;
        font-size: 1.2em;
    } 

    #clqtable .clqtable-cell .nowrap {
        white-space:nowrap;
    }